body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* light blue + white stripes */
    background: repeating-linear-gradient(
        45deg,
        #bdefff,
        #bdefff 20px,
        #ffffff 20px,
        #ffffff 40px
    );
}

/* CENTER EVERYTHING */
.container {
    text-align: center;
    width: 90%;
    margin: auto;
}

/* BIG NAVY TITLE */
.title {
    color: navy;
    font-size: 70px;
    margin-top: 20px;
}

/* SEARCH BAR */
.search-bar {
    margin: 20px;
}

.search-bar input {
    padding: 12px;
    width: 300px;
    border-radius: 10px;
    border: none;
}

.search-bar button {
    padding: 12px;
    background: navy;
    color: white;
    border: none;
    border-radius: 10px;
}

/* NAV */
.nav {
    margin: 20px;
}

.nav a {
    margin: 10px;
    text-decoration: none;
    color: navy;
    font-weight: bold;
}

/* WHITE BOX */
.box {
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

/* CENTER BOX WIDTH */
.single {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* IMAGES */
.car-img {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
}
